#aboutmepage{
    display: flex;
    flex: 1;
    justify-content: center;
    z-index: 2;
    margin-top: 20px;
}

.aboutmepage_inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.myphoto-wrapper{
    width: 110%;
    position: relative;
    aspect-ratio: 1.1;
    z-index: -1;
}
.myphoto{
    border-radius: 20px;
    width: 110%;
    aspect-ratio: 1.1;
    object-fit: cover;
    mix-blend-mode: lighten;
    background-color: white;
    z-index: -1;
}
.aboutmepage_inner h1{
    font-size: 3.5em;
    margin-top:20px;
    margin-bottom:10px;
    align-self: flex-start;
}
.aboutmepage_inner p{
    margin: 0px;
}
.aboutmepage_inner button{
    background-color: transparent;
    padding: 9px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 50px;
}
.darkButton{
    border:solid 2px #fafafa;
    color: #fafafa;
}
@media only screen and (min-width:768px){
    #aboutmepage{
        justify-content: flex-start;
    }
    .aboutmepage_inner{
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
    }
    .myphoto{
        transition: ease-in-out .3s;
        height: 80%;
        margin-left: -100px;
        border-radius: 50px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width:40%;
        z-index:1;
    }
    .myphoto:hover{
        transition: ease-in-out .5s;
        margin-left: 0;
        margin-right: -50px;
        animation: blury .5s;
    }
    .aboutmepage_inner div{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 10%;
        padding: 100px;
        font-size: 20px;
    }
    @keyframes blury {
        50%{
            filter: blur(10px);
        }
    }
}