
header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 4;

}
/* fordark */
.darklogo{
    filter: invert(1);
}
.header_nav{
    display: flex;
    align-items: center;
    flex: 1;
}
.header_list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding-left: 15px;
}
.header_list_element p{
    margin: 0;
}

.header_list_element{
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
}
.header_list_element:hover{
    transition: ease-in-out .3s;
    filter: blur(1px);
}
.underliner{
    height: 2px;
    background-color: #252525;
    position: absolute;
    bottom: 0;
    width: 0px;
    margin-bottom: -3px;
}
@keyframes unerliner_disapear {
    0%{
        width: 0px;
    }
}
@media only screen and (min-width: 768px){
    .header_nav{
        margin-left: auto;
        flex: 1;
    }
    .header_list{
        flex: .4;
        margin: auto;
    }
    header img{
        margin-left: 20px;
    }
}